rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /vertetimet/{docId} {
      allow read: if signedIn();
      allow create: if signedIn();
      allow update, delete: if isAdmin();
    }

    match /klientet/{nui} {
      allow read, create: if signedIn();   // çdo përdorues mund të shtojë klient të ri
      allow update, delete: if isAdmin();  // editimi dhe fshirja vetëm admin
    }

    // Rezervimi i numrave të vërtetimeve (numeruesi/privat-YY)
    match /numeruesi/{docId} {
      allow read, write: if signedIn();
    }

    match /users/{uid} {
      allow read: if signedIn() && request.auth.uid == uid;
      allow create, update, delete: if isAdmin();
    }
  }
}
